.site-title {font-family: 'Pacifico', Arial, "微软雅黑";}
.site-author-name,
.posts-expand .post-title {font-family: 'Roboto Slab', Arial, "微软雅黑";}
.search-result-list,
.post-body {font-family: 'Microsoft Jhenghei', Lantinghei SC, 'lanting', PingFang SC, Seguo UI, Microsoft Yahei, Arial;}

@media (min-width: 992px) {
	.post-body,
	.post-copyright,
	.posts-collapse           {font-size: 15px;}
	.post-body                {letter-spacing: -1px;}
	.post-header              {margin-top: 20px;}
	.posts-expand .post-title {font-size: 25px;}
	.posts-expand .post-title-link {font-size: 22px;font-weight: 500;color: #000;margin-bottom: 10px;}
	.posts-expand .post-meta  {font-size: 12px;margin-bottom: 2em;}
	.post-body h1, 
	.post-body h2             {position: relative;border-bottom: 0;margin: 30px 0;}
	.post-body h1::after, 
	.post-body h2::after      {content:'';height: 1px;position: absolute;left: 0;right: 0;bottom: -15px;background-color: #b2b2b5;}
	.noborder::after          {content: '';margin: 0;height: 0 !important;}
}

b,
strong {font-weight: 600;}
.post-copyright {border: 0;}