.site-title {font-family: 'Pacifico', Arial, "微软雅黑";}
.site-author-name,
.posts-expand .post-title {font-family: 'Roboto Slab', Arial, "微软雅黑";}
.search-result-list,
.post-body {font-family: 'Microsoft Jhenghei', Lantinghei SC, 'lanting', PingFang SC, Seguo UI, Microsoft Yahei, Arial;}

@media (min-width: 992px) {
	.post-body,
	.post-copyright,
	.posts-collapse           {font-size: 15px;}
	.post-body                {letter-spacing: -1px;}
	.post-header              {margin-top: 20px;}
	.posts-expand .post-title {font-size: 25px;}
	.posts-expand .post-title-link {font-size: 22px;font-weight: 500;color: #000;margin-bottom: 10px;}
	.posts-expand .post-meta  {font-size: 12px;margin-bottom: 2em;}
	.post-body h1, 
	.post-body h2             {position: relative;border-bottom: 0;margin: 30px 0;}
	.post-body h1::after, 
	.post-body h2::after      {content:'';height: 1px;position: absolute;left: 0;right: 0;bottom: -15px;background-color: #b2b2b5;}
	.noborder::after          {content: '';margin: 0;height: 0 !important;}
}

b,
strong {font-weight: 600;}
.post-copyright {border: 0;}

	
// @media (min-width: 1200px) { 
// 	// 宽度设置
// 	.header-inner,
// 	.main-inner,
// 	.footer-inner                 {width:1170px;max-width:1170px;padding:0;}
	
// 	.post-body,
// 	.post-copyright,
// 	.posts-collapse               {font-size: 15px;}

// 	// 导航条
// 	.header                       {margin-top:10px;border-bottom:1px solid #e3e3e3;background-color:transparent;}
// 	.header-inner                 {width:1170px;max-width:1170px;padding:0;}
// 	.menu                         {text-align:right;}
// 	.menu .menu-item a            {border-bottom:1px solid transparent;padding:20px 15px;color:#666;}
// 	.menu .menu-item a:hover,
// 	.menu-item a.menu-item-active {background-color:transparent;color:#181818;}
// 	.menu-item a.menu-item-active {border-color:#181818;}
	
// 	// 内容
// 	.main-inner                   {margin-bottom:20px;}
// 	.post-body                    {font:14px/1.75 Arial, "微软雅黑";color:#666;}
		
// 	// 详情页
// 	.posts-expand .post-title     {font:22px "宋体";}
// 	.posts-expand .post-meta      {font-size:12px;}
	
// 	// footer
// 	.footer                       {color:#666;}
// }